{% extends 'layout.html' %}

{% block content %}

<main class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 my-md-5">
            <div class="vh-100">
                <div class="my-5">
                    <h1 class="text-danger mb-4">Online Video Converter to MP3</h1>
                    <input type="url" name="video_link" id="" class="form-control form-control-lg mb-4"
                        placeholder="Enter video URL">
                    <button class="btn btn-danger">Download</button>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}