{% extends 'layout.html' %}

{% block content %}

<main class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7 my-5">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}{% for category, message in messages %}
            <div class="alert alert-{% if category == 'error' %}danger{% else %}{{ category }}{% endif %} alert-dismissible fade show"
                role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}{% endif %}{% endwith %}
            <div class="h-100">
                <div class="mb-5">
                    <form action="{{ url_for('index') }}" method="post">
                        <div class="mb-5">
                            <h1 class="text-danger mb-3">Online Video Converter to MP3</h1>
                            <input type="url" name="video_url" id="" class="form-control form-control-lg mb-4"
                                placeholder="Enter video URL" required>
                            <button type="submit" class="btn btn-danger">Start Convert</button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    {% if video %}
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="text-center mb-3">Download 48kbps MP3</h5>
                                <img class="rounded w-100 mb-3" src="{{ video.thumbnail_url }}" alt="">
                                <p>(34:10) {{ video.title }}</p>
                                <div class="d-flex"><button type="button" class="btn btn-danger w-100">
                                        Download MP3</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="text-center mb-3">Download 48kbps (Low Quality)</h5>
                                <img class="rounded w-100 mb-3" src="https://i.ytimg.com/vi/PkynrL1aU9o/mqdefault.jpg"
                                    alt="">
                                <p>(34:10) Building a Django Docker Container</p>
                                <div class="d-flex"><button type="button" class="btn btn-danger w-100">Download
                                        MP3</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="text-center mb-3">Download 128kbps (Medium Quality)</h5>
                                <img class="rounded w-100 mb-3" src="https://i.ytimg.com/vi/PkynrL1aU9o/mqdefault.jpg"
                                    alt="">
                                <p>(34:10) Building a Django Docker Container</p>
                                <div class="d-flex"><button type="button" class="btn btn-danger w-100">Download
                                        MP3</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="text-center mb-3">Download 240kbps (High Quality)</h5>
                                <img class="rounded w-100 mb-3" src="https://i.ytimg.com/vi/PkynrL1aU9o/mqdefault.jpg"
                                    alt="">
                                <p>(34:10) Building a Django Docker Container</p>
                                <div class="d-flex"><button type="button" class="btn btn-danger w-100">Download
                                        MP3</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}